*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
}
header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(253, 144, 18);
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
     justify-content: flex-end;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    
}

header button {
    cursor: pointer;
}
h1{
    margin-top: 10px;
}
img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
    margin-right: 10px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98%;
}

.carrossel-container {
    position: relative;
    width: 90%;
    max-width: 400px;
    overflow: hidden;
    margin: 50px auto;
}
.carrossel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.5s ease;
    margin-right: 10px;
}
.slide {
    min-width: 100%;
    box-shadow: 10px 10px 80px rgba(0, 0, 0, 0.226);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  

}
.slide h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 21px;
}
.slide p {
    font-family: Cambria, serif;
    font-size: 18px;
    margin-top: 5px;
}
.nav-buttons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}
.nav-buttons button {
    border: 0;
    padding: 10px;
    color: rgba(0, 0, 0, 0.534);
    font-size: 18px;
    cursor: pointer;
    border-radius: 90px;
}
h2{
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.footer {
    text-align: center;
    padding: 5px;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer-box {
  
              padding: 10px;
           
              color: rgb(46, 45, 45);
              position: relative;
              bottom: 0;
              width: 95%;
              height: 50px;
              box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
              display: flex;
    align-items: center;
    justify-content: center;
  }


.inbox, .ranking{
    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.226);
    display: flex;
    align-items: center; 
    width: 90%;
    padding: 20px;
    margin-top: 10px;
    
}

/* Responsividade */
@media (max-width: 768px) {
    header {
        font-size: 16px;
        padding: 8px;
    }

    h1 {
        font-size: 20px;
    }

    .carrossel-container {
        margin: 10px auto;
    }

    .slide h2, .slide p {
        font-size: 14px;
    }

    .nav-buttons button {
        font-size: 12px;
        padding: 8px;
    }

    .footer {
        padding: 8px;
    }

    .footer-box {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 18px;
    }

    .slide h2, .slide p {
        font-size: 12px;
    }

    button {
        font-size: 12px;
    }

    .nav-buttons button {
        padding: 6px;
    }
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    

}
.escudo{
    margin-right: 10px; /* Espaço entre a imagem e o título */
  width: 50px; /* Ajuste o tamanho da imagem conforme necessário */
  height: auto; /* Mantém a proporção da imagem */
}
.pontuacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 70px;
}

input{
    width: 60px;
    border: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;

}
button{
    border: 0;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(0, 0, 0, 0.719);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.total {
    margin-left: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#reA, #reB, #reC, #reD, #reE {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: green;
}
.ranking h1 {
    font-size: 25px;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
}
.ranking-list {
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    
  
}
.ranking-list li {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    margin: 5px 0;
    padding: 5px;
    margin-top: 5px;
}
.points-list {
    margin-top: 5px;
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: rgb(255, 166, 0);
}
.monthly-winner{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.organizar{
    display: flex;
    flex-direction: column;
   width: 95%;
    justify-content: center;
}
.ranking{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    
}
.total-winner {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: rgb(253, 144, 18);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#teams {
    display: flex;
  flex-direction: column;
    gap: 20px;
  
  
    align-items: center; 
    width: 98%;
   
    margin-top: 10px;
    
}

.team {
    flex: 1 1 calc(50% - 40px);
    border: 1px solid #ddd;
    padding: 10px;
    background: #fff;
}

#ranking {
    margin: 20px;
}

button:hover {
    background-color: #0057b32a;
}
.history {
    font-size: 0.9rem;
    margin-top: 10px;
    color: #555;
}
a.pag-header {
    position: absolute;
    top: 10px;
    right: 1px;
    z-index: 10;
    text-decoration: none;
    border-radius: 50%;
    overflow: hidden;
}

a.pag-header img {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

a.pag-ranking {
    position: fixed;
    right: 2px;
    bottom: 20px;
    z-index: 999;
    border-radius: 50%;
    overflow: hidden;
}

a.pag-ranking img {
    width: 50px;
    height: auto;
    border-radius: 50%;
}
.congrats-section {
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.575);
    border-radius: 8px;
    width: 36%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.congrats-section h2 {
    color: #28a745;
    margin-bottom: 24px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.congrats-section p {
    font-size: 18px;
    margin: 5px 0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;

}
#parabensRodada{
    font-weight:bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.137);

}
#parabensMes{
    font-weight:bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.089);

}
#parabensAno{
    font-weight:bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.089);

}
